body {
	font-family: Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
	font-size:12px;
	line-height:2em;
	height: 100%;
}

a {
	text-decoration: none;
	color: #000;
}
.wrapper {
	width: 100%;
	max-width: 960px;
	margin: 0 auto 50px;
}

.header {
	width: 100%;
	background: #edc9c9;
	margin: 0;
	height: 50px;
}

.nav.left {
	float: left;
	width: 50%;
	height: 100%;
/*	background-color: #00ff00;*/
}

.nav.right{
	float: right;
	width: 50%;
	height: 100%;
	/*background-color: #ff0000;*/
}

.g-nav-01 {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 5px 0 0 0;
	background-color: #cc3d14;
}

.g-nav-01 ul li {
	width: 30%;
	padding: 5px 1%;
	list-style: none;
	float: left;
}

.clearfix {
	*zoom: 1;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.g-nav-01 ul li a {
	display: block;
	padding: 5px 0 10px;
	text-align: center;
	color: #fff;
}

.g-nav-01 ul li a:link,
.g-nav-01 ul li a:visited {
	text-decoration: none;
}

.g-nav-01 ul li a:hover,
.g-nav-01 ul li a:active {
	padding: 3px 0 3px;
	background: #fff;
	text-decoration: none;
	color: #cc3d14;
	font-weight: bold;
}

.wrap-contents {
	position: relative;
	width: 100%;
	min-width: 700px;
	height: 400px;
}

.left-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-color: #F8EDC9;
	background-image: url(jimintou.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.right-content {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background-color: #FFF;
	background-image: url(minshintou.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.btn {
	padding: 57% 10%;
}

.btn a {
	display: block;
	width: 30%;
	height: 38px;
	border: 1px solid #FFF;
	font-family: Georgia, serif;
	font-size: 18px;
	text-align: center;
	text-indent: 9px;
	line-height: 37px;
	margin: 0 auto;
}

.btn a:hover {
	background-color: #FFF;
	color: #000;
}

.main-contents {
	width: 100%;
	margin-left: 3%;
	padding: 0 auto;
	height
}

.main-left {
	display: block;
	width: 20%;
	height: 100%;
	border: 5px solid #FF7;
	margin-top: 10px;
	margin-left: -22px;
	float: left;
	clear: left;
}


.main-right {
	display: block;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	width: 65%;
}

.Question {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.movie {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
	height: 100px;
}

.movie iframe {
	position: absolute;
	top: 0;
	right: 0;
	width: 100% !important;
	height: 100% !important;
}



















